    .tracking-img {
        float: left;
        width: 15px;
        margin-top: 1px;
        margin-right: 3px;
    }

    .tracking-btn {
        border-radius: 2px !important;
        box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%) !important;
        border: 1px solid #e87b0e !important;
        background-color: #ff9917 !important;
        background-image: -webkit-linear-gradient(top, #fff, #f5f5f5) !important;
        color: #4285f4 !important;
        padding: 5px 10px !important;
    }


    @font-face {
        font-family: '17icon';
        font-style: normal;
        font-weight: 400;
        src: url(https://res.17track.net/asset/fonts/common/common/common.eot?v=f34c5f94e1);
        src: url(https://res.17track.net/asset/fonts/common/common/common.eot?v=f34c5f94e1#iefix) format('embedded-opentype'), url(https://res.17track.net/asset/fonts/common/common/common.woff?v=8a2b73dcb4) format('woff'), url(https://res.17track.net/asset/fonts/common/common/common.ttf?v=3359438d6f) format('truetype'), url(https://res.17track.net/asset/fonts/common/common/common.svg?v=5b4076901d#17icon) format('svg')
    }

    @font-face {
        font-family: carrier;
        font-style: normal;
        font-weight: 400;
        src: url(https://res.17track.net/global-v2/fonts/express/express/express.eot?v=d871e831ff);
        src: url(https://res.17track.net/global-v2/fonts/express/express/express.eot?v=d871e831ff#iefix) format("embedded-opentype"),
            url(https://res.17track.net/global-v2/fonts/express/express/express.ttf?v=504e6ae2d5) format("truetype"),
            url(https://res.17track.net/global-v2/fonts/express/express/express.woff?v=0d57e07224) format("woff"),
            url(https://res.17track.net/global-v2/fonts/express/express/express.svg?v=716fab3538#carrier) format("svg");
    }

    @font-face {
        font-family: status;
        font-style: normal;
        font-weight: 400;
        src: url(https://res.17track.net/global-v2/fonts/status/status/status.eot?v=a96d864477);
        src: url(https://res.17track.net/global-v2/fonts/status/status/status.eot?v=a96d864477#iefix) format("embedded-opentype"),
            url(https://res.17track.net/global-v2/fonts/status/status/status.ttf?v=b5ed4806f2) format("truetype"),
            url(https://res.17track.net/global-v2/fonts/status/status/status.woff?v=6787c10f61) format("woff"),
            url(https://res.17track.net/global-v2/fonts/status/status/status.svg?v=611ee21643#carrier) format("svg");
    }

    .spinner-border {
        width: 20px;
        height: 20px;
    }

    a {
        text-decoration: none;
        font-size: 13px;
    }

    body {
        position: relative;
    }

    .import {
        background-color: white;
    }

    .hidden {
        display: none;
    }

    .show {
        display: block !important;
    }

    /*  display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    */
    .impotedModal {
        display: none;
        justify-content: center;
        position: fixed;
        height: 100vh;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 1060;
        align-items: center;
        width: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        outline: 0;

        img {
            border-radius: 0.5rem;
        }
    }